.about {
  width: 90vw;
  min-height: 100vh;
  z-index: 101;
  position: relative;
  div {
    height: 100%;
    @extend %flex-center;
    flex-direction: column;
  }
  @include l{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
  }
}

.about-text {
  text-shadow:
     1px  1px     #000,
    -1px  1px     #000,
     1px -1px     #000,
    -1px -1px     #000;
  h1{
    color: $text;
    font-size: 3rem;
  }
  h2 {
    color: $text;
  }
  z-index: 101;
  @include l{
    margin-left: 30%;
  }

}

.skills {
  width: 90%;
  min-height: 15rem;
  border-radius: 3rem;
  z-index: 100;
  margin-top: 2rem;
  @include l {
    width: 500px;
    height: 500px;
    border-radius: 250px;
    background-color: $primary;
  }
}