.welcome-rectangle {
  width: 90vw;
  height: 80vh;
  border-width: 2px;
  border-color: $primary;
  border-style: solid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
}

.home {
  width: 100%;
  min-height: 100vh;
  @extend %flex-center;
}

.welcome-a {
  position: relative;
  left: 100px;
  top:250px;
  max-width: 750px;
  // text-shadow:
  //    1px  1px     $tetriary,
  //   -1px  1px     $tetriary,
  //    1px -1px     $tetriary,
  //   -1px -1px     $tetriary;
  h1{
    color: $text;
    font-size: 3rem;
    span{
      color: $primary;
    }
  }
  h2 {
    color: $text;
  }
}

#git {
  position: absolute;
  fill: white;
  width: 60px;
  top: 515px;
  left: 1370px;
  z-index: 9999;
  animation: scalePulse 3s infinite linear;

}

@keyframes scalePulse{
  0% {
  }
  50% {
    transform: scale(1.1);
  }
  100%{
  }
}