.welcome-rectangle {
  width: 90vw;
  height: 80vh;
  border-width: 2px;
  border-color: $primary;
  border-style: solid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
}

.home {
  width: 100%;
  min-height: 100vh;
  @extend %flex-center;
}

.welcome-a {
  @extend %flex-center;
  flex-wrap: wrap;
  flex-direction: column;
  h1 {
    @extend %flex-center;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 400;
    align-items: flex-start;
  }
  .lowkey {
    font-size: 2rem;
    color: $textDark;
  }
  h1>* {
    flex: 1;
  }
  h2 {
    color: $text;
    margin: 0;
  }
}

#git {
  position: absolute;
  fill: white;
  width: 60px;
  top: 515px;
  left: 1370px;
  z-index: 9999;
  animation: scalePulse 3s infinite linear;

}

@keyframes scalePulse{
  0% {
  }
  50% {
    transform: scale(1.1);
  }
  100%{
  }
}